body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #01161e;
  max-width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}
.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 25px;
}
.nav-logo__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f9f5e3;
}
.nav-menu {
  color: #f9f5e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}
.nav-menu__list li {
  font-family: "Unbounded", sans-serif;
  list-style-type: none;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.nav-menu__list li:hover {
  cursor: pointer;
  border-bottom: 1px solid #f27059;
}
.nav-menu__btn {
  margin-left: 35px;
  width: 75px;
  border: none;
  background-color: #f27059;
  border-radius: 10px;
  height: 33px;
  color: #f8f7ff;
  font-size: 15px;
  font-weight: 600;
}
.nav-menu__btn:hover {
  cursor: pointer;
  background-color: #f7806b;
}

.main {
  position: relative;
}
.main-img {
  position: relative;
  height: 70%;
  width: 55%;
  margin: 0 auto;
  margin-top: 50px;
}
.main-img img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
.main-btn {
  position: absolute;
  bottom: 20px;
  left: 45%;
}
.main-btn__menu {
  background-color: #f27059;
  width: 130px;
  height: 40px;
  color: #f8f7ff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.main-btn__menu:hover {
  cursor: pointer;
  background-color: #f7806b;
}

.sale {
  margin-top: 90px;
}
.sale h2 {
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
}
.sale-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sale-blocks .sale-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
}
.sale-blocks .sale-block p {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.sale-block-border {
  position: relative;
  width: 300px;
  height: 300px;
}

.menu {
  margin-top: 100px;
}
.menu h2 {
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
}
.menu-list {
  margin: 0 auto;
  width: 70%;
}
.menu-list__icon {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-list__icon li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.menu-list__icon li img {
  width: 35px;
  height: 35px;
}
.menu-list__icon li span {
  font-family: "Unbounded", sans-serif;
}
.menu-list__icon li:hover {
  border-bottom: 2px solid #f7806b;
}

.menu-list__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[3];
  grid-template-columns: repeat(3, 350px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 35px;
}
.menu-list__item__img {
  position: relative;
  width: 350px;
  height: 580px;
  background-color: #f9f5e3;
  margin-bottom: 35px;
}
.menu-list__item__img img {
  width: 350px;
  height: 220px;
  background-color: white;
  border-radius: 15px;
}
.menu-list__item__img h3 {
  text-align: center;
  font-size: 26px;
  font-family: "Unbounded", sans-serif;
}
.menu-list__item__img__description {
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 14px;
  margin: 10px;
}
.menu-list__item__img__price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: inherit;
  top: 87%;
}
.menu-list__item__img__price span {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  color: #9a031e;
}
.menu-list__item__img__price button {
  width: 120px;
  border: none;
  background-color: #f27059;
  border-radius: 10px;
  height: 50px;
  color: #f8f7ff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.menu-list__item__img__price button:hover {
  background-color: #f7806b;
}

.footer {
  width: 100%;
  height: 120px;
  background-color: #01161e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer-description__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.footer-description__menu__list li {
  list-style-type: none;
  font-family: "Unbounded", sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  color: #f9f5e3;
}
.footer-description__menu__list li:hover {
  cursor: pointer;
  border-bottom: 1px solid #f27059;
}
.footer-description__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer-description__icon img {
  cursor: pointer;
}

.rustore {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.huaweiapp {
  width: 35px;
  height: 35px;
}

@media (max-width: 425px) {
  body {
    margin: 0;
    padding: 0;
  }
  .nav {
    background-color: #01161e;
    max-width: 100%;
    height: 40px;
    padding: 0 8px;
  }
  .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 10px;
  }
  .nav-logo img {
    width: 40px;
    height: 40px;
  }
  .nav-logo__title {
    font-size: 12px;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f9f5e3;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .nav-menu__list {
    display: none;
  }
  .nav-menu__btn {
    display: none;
  }
  .nav-menu__user {
    width: 30px;
    height: 30px;
  }
  .nav-menu__burger {
    width: 30px;
    height: 30px;
  }
  .main {
    max-width: 100%;
  }
  .main-img {
    height: 70%;
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .main-img img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
  .main-btn {
    position: static;
    margin: 20px auto;
    text-align: center;
  }
  .main-btn__menu {
    background-color: #f27059;
    width: 130px;
    height: 40px;
    color: #f8f7ff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .sale {
    margin-top: 30px;
  }
  .sale h2 {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 26px;
    margin-bottom: 30px;
  }
  .sale-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .sale-blocks .sale-block img {
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 5px rgba(1, 22, 30, 0.1529411765);
            box-shadow: 3px 3px 5px 5px rgba(1, 22, 30, 0.1529411765);
  }
  .sale-blocks .sale-block p {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }
  .menu {
    margin-top: 40px;
  }
  .menu h2 {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 26px;
    margin-bottom: 30px;
  }
  .menu-list {
    width: 100%;
    padding: 0 10px;
  }
  .menu-list__icon {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu-list__icon li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .menu-list__icon li img {
    width: 18px;
    height: 18px;
  }
  .menu-list__icon li span {
    font-size: 10px;
    font-family: "Unbounded", sans-serif;
  }
  .menu-list__item {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 35px;
  }
  .menu-list__item__img {
    position: relative;
    width: 350px;
    height: 580px;
    background-color: #f9f5e3;
    margin-bottom: 35px;
  }
  .menu-list__item__img img {
    width: 350px;
    height: 220px;
    background-color: white;
    border-radius: 15px;
  }
  .menu-list__item__img h3 {
    text-align: center;
    font-size: 26px;
    font-family: "Unbounded", sans-serif;
  }
  .menu-list__item__img__description {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    margin: 10px;
  }
  .menu-list__item__img__price {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: inherit;
    top: 87%;
  }
  .menu-list__item__img__price span {
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    color: #9a031e;
  }
  .menu-list__item__img__price button {
    width: 120px;
    border: none;
    background-color: #f27059;
    border-radius: 10px;
    height: 50px;
    color: #f8f7ff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  .menu-list__item__img__price button:hover {
    background-color: #f7806b;
  }
  .footer {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  .nav {
    background-color: #01161e;
    max-width: 100%;
    height: 40px;
    padding: 0 8px;
  }
  .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 10px;
  }
  .nav-logo img {
    width: 40px;
    height: 40px;
  }
  .nav-logo__title {
    font-size: 12px;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f9f5e3;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    margin-right: 10px;
  }
  .nav-menu__list {
    display: none;
  }
  .nav-menu__btn {
    display: none;
  }
  .nav-menu__user {
    width: 30px;
    height: 30px;
  }
  .nav-menu__burger {
    width: 30px;
    height: 30px;
  }
  .main {
    max-width: 100%;
  }
  .main-img {
    height: 70%;
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .main-img img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
  .main-btn {
    position: static;
    margin: 20px auto;
    text-align: center;
  }
  .main-btn__menu {
    background-color: #f27059;
    width: 130px;
    height: 40px;
    color: #f8f7ff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .sale {
    margin-top: 30px;
  }
  .sale h2 {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 26px;
    margin-bottom: 30px;
  }
  .sale-blocks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sale-blocks .sale-block {
    width: 200px;
    height: 200px;
  }
  .sale-blocks .sale-block-border {
    width: 200px;
    height: 200px;
  }
  .sale-blocks .sale-block img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 5px rgba(1, 22, 30, 0.1529411765);
            box-shadow: 3px 3px 5px 5px rgba(1, 22, 30, 0.1529411765);
  }
  .sale-blocks .sale-block p {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }
  .menu {
    margin-top: 40px;
  }
  .menu h2 {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 26px;
    margin-bottom: 30px;
  }
  .menu-list {
    width: 100%;
    padding: 0 10px;
  }
  .menu-list__icon {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu-list__icon li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .menu-list__icon li img {
    width: 20px;
    height: 20px;
  }
  .menu-list__icon li span {
    font-size: 13px;
    font-family: "Unbounded", sans-serif;
  }
  .menu-list__item {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 35px;
  }
  .menu-list__item__img {
    position: relative;
    width: 350px;
    height: 580px;
    background-color: #f9f5e3;
    margin-bottom: 35px;
  }
  .menu-list__item__img img {
    width: 350px;
    height: 220px;
    background-color: white;
    border-radius: 15px;
  }
  .menu-list__item__img h3 {
    text-align: center;
    font-size: 26px;
    font-family: "Unbounded", sans-serif;
  }
  .menu-list__item__img__description {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    margin: 10px;
  }
  .menu-list__item__img__price {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: inherit;
    top: 87%;
  }
  .menu-list__item__img__price span {
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    color: #9a031e;
  }
  .menu-list__item__img__price button {
    width: 120px;
    border: none;
    background-color: #f27059;
    border-radius: 10px;
    height: 50px;
    color: #f8f7ff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  .menu-list__item__img__price button:hover {
    background-color: #f7806b;
  }
  .footer-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}